.canvas {
  height: 100%;
  background: #fff;
}

h1 {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px 0;
  box-shadow: 2px 4px 4px #fefefe;
  text-align: center;
  color: rgb(39, 158, 112);
}